Hardware/Node-REDNodes.rtf
{\rtf1\ansi\ansicpg1252\cocoartf1348\cocoasubrtf170
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\margl1440\margr1440\vieww33400\viewh19580\viewkind0
\pard\tx720\tx1440\tx2160\tx2880\tx3600\tx4320\tx5040\tx5760\tx6480\tx7200\tx7920\tx8640\pardirnatural

\f0\fs24 \cf0 [\{"id":"502f79ac.792998","type":"bean","z":"1d852a2f.62baa6","name":"3 Bean Chili","uuid":"","connectiontype":"timeout","connectiontimeout":"60"\},\{"id":"905faa7.a3dce58","type":"bean","z":"1d852a2f.62baa6","name":"Jelly Bean","uuid":"","connectiontype":"timeout","connectiontimeout":"60"\},\{"id":"9c0de5bc.1fe7e8","type":"bean","z":"1d852a2f.62baa6","name":"Bean There Done That","uuid":"","connectiontype":"timeout","connectiontimeout":"60"\},\{"id":"91570d6c.ef304","type":"bean","z":"1d852a2f.62baa6","name":"Jumping Bean","uuid":"","connectiontype":"timeout","connectiontimeout":"60"\},\{"id":"6b21fe1c.4ef8c","type":"inject","z":"1d852a2f.62baa6","name":"","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":false,"x":101.5,"y":170,"wires":[["483c5b91.8c3e24"]]\},\{"id":"483c5b91.8c3e24","type":"bean serial","z":"1d852a2f.62baa6","name":"","bean":"91570d6c.ef304","newline":"\\\\n","bin":"false","out":"char","addchar":false,"x":273.5,"y":76,"wires":[["c48b3c0e.e24ce"]]\},\{"id":"7db61e9d.c384d","type":"debug","z":"1d852a2f.62baa6","name":"","active":true,"console":"false","complete":"payload","x":647.5,"y":207,"wires":[]\},\{"id":"7f58aa5f.e1a0e4","type":"inject","z":"1d852a2f.62baa6","name":"","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":false,"x":97,"y":480,"wires":[["623ba6d6.7278f8"]]\},\{"id":"623ba6d6.7278f8","type":"bean serial","z":"1d852a2f.62baa6","name":"","bean":"9c0de5bc.1fe7e8","newline":"\\\\n","bin":"false","out":"char","addchar":false,"x":256,"y":325,"wires":[["d8fa3e70.54a7c"]]\},\{"id":"d2ebb5e3.bade18","type":"debug","z":"1d852a2f.62baa6","name":"","active":true,"console":"false","complete":"payload","x":648,"y":438,"wires":[]\},\{"id":"fe23054a.7fef78","type":"file","z":"1d852a2f.62baa6","name":"","filename":"/home/pi/cse521s/cse521_data.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","x":713.5,"y":295,"wires":[]\},\{"id":"c48b3c0e.e24ce","type":"function","z":"1d852a2f.62baa6","name":"","func":"msg.payload = \{value:msg.payload, date:Date.now()\};\\nreturn msg;","outputs":1,"noerr":0,"x":472.5,"y":176,"wires":[["7db61e9d.c384d","fe23054a.7fef78"]]\},\{"id":"d8fa3e70.54a7c","type":"function","z":"1d852a2f.62baa6","name":"","func":"msg.payload = \{value:msg.payload, date:Date.now()\};\\nreturn msg;","outputs":1,"noerr":0,"x":466,"y":388,"wires":[["d2ebb5e3.bade18","effb318.b4563d"]]\},\{"id":"effb318.b4563d","type":"file","z":"1d852a2f.62baa6","name":"","filename":"/home/pi/cse521s/cse521_data.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","x":695,"y":535,"wires":[]\},\{"id":"63d41854.643a78","type":"inject","z":"1d852a2f.62baa6","name":"","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":false,"x":109,"y":642,"wires":[["aa723bc1.c3bf98"]]\},\{"id":"aa723bc1.c3bf98","type":"bean serial","z":"1d852a2f.62baa6","name":"","bean":"905faa7.a3dce58","newline":"\\\\n","bin":"false","out":"char","addchar":false,"x":296,"y":553,"wires":[["89b011c8.4defa"]]\},\{"id":"535220b9.be11d","type":"debug","z":"1d852a2f.62baa6","name":"","active":true,"console":"false","complete":"payload","x":689,"y":648,"wires":[]\},\{"id":"881dee17.c0f65","type":"file","z":"1d852a2f.62baa6","name":"","filename":"/home/pi/cse521s/cse521_data.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","x":710,"y":769,"wires":[]\},\{"id":"89b011c8.4defa","type":"function","z":"1d852a2f.62baa6","name":"","func":"msg.payload = \{value:msg.payload, date:Date.now()\};\\nreturn msg;","outputs":1,"noerr":0,"x":492,"y":649,"wires":[["535220b9.be11d","881dee17.c0f65"]]\},\{"id":"fcb300ed.e3bb","type":"inject","z":"1d852a2f.62baa6","name":"","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":false,"x":93,"y":925,"wires":[["8ca5a428.207fd8"]]\},\{"id":"8ca5a428.207fd8","type":"bean serial","z":"1d852a2f.62baa6","name":"3 Bean Chili","bean":"502f79ac.792998","newline":"\\\\n","bin":"false","out":"char","addchar":false,"x":262,"y":818,"wires":[["4565f31e.9d1d1c"]]\},\{"id":"fb20e7bf.2c0d38","type":"debug","z":"1d852a2f.62baa6","name":"","active":true,"console":"false","complete":"payload","x":625,"y":948,"wires":[]\},\{"id":"61003d8b.8561c4","type":"file","z":"1d852a2f.62baa6","name":"","filename":"/home/pi/cse521s/cse521_data.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","x":691,"y":1036,"wires":[]\},\{"id":"4565f31e.9d1d1c","type":"function","z":"1d852a2f.62baa6","name":"","func":"msg.payload = \{value:msg.payload, date:Date.now()\};\\nreturn msg;","outputs":1,"noerr":0,"x":468,"y":915,"wires":[["fb20e7bf.2c0d38","61003d8b.8561c4"]]\}]}